[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==7.3.1"
selenium = "==4.8.3"
black = "==23.3.0"
pytest-bdd = "==6.1.1"

[packages]

[requires]
python_version = "3.8.6"

[pipenv]
allow_prereleases = true
