[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==9.0.2"
selenium = "==4.40.0"
black = "==26.1.0"
pytest-bdd = "==8.1.0"

[packages]

[requires]
python_version = "3.14.2"

[pipenv]
allow_prereleases = true
