[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.2.5"
selenium = "==4.1.0"
black = "==21.12b0"
pytest-bdd = "==5.0.0"

[packages]

[requires]
python_version = "3.8.6"

[pipenv]
allow_prereleases = true
