name: Python application

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6.0.2
    - name: Set up Python 3.14.2
      uses: astral-sh/setup-uv@v7.2.1
    - uses: nanasess/setup-chromedriver@v2.3.0
    - run: |
        export DISPLAY=:99
        chromedriver --url-base=/wd/hub &
        sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 & # optional
    - name: Run test_math
      run: uv run -m pytest tests/test_math.py
    - name: Run test_web
      run: uv run -m pytest tests/test_web.py
