name: Python application

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6.0.1
    - name: Set up Python 3.14.0
      uses: actions/setup-python@v6.1.0
      with:
        python-version: 3.14.0
    - uses: nanasess/setup-chromedriver@v2.3.0
    - run: |
        export DISPLAY=:99
        chromedriver --url-base=/wd/hub &
        sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 & # optional
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install --skip-lock --dev
    - name: Run test_math
      run: pipenv run python -m pytest tests/test_math.py
    - name: Run test_web
      run: pipenv run python -m pytest tests/test_web.py
